
body{
    background-color: palevioletred;
}

*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p[alt="Nimona"]{
    font-size: 50px;
    margin-left: 10%;
    margin-top: 10%;
    color:palevioletred;
}

.portada{
    width: 1000px;
    margin-left: 20%;
}

div{
    background-color: aliceblue;
    margin-left: 500px;
    margin-right: 500px;
}

p{
    margin-left: 15%;
    font-size: 30px;
}

.libro{
    width: 300px;
    margin-left: 20%;
    margin-top: 2%;
}

.creador{
    width: 272px;   
    margin-left: 60%;
    margin-top: -80%;
}

p[alt="descripcion-libro"]{
    margin-left: 22%;
    font-size: 20px;
}

p[alt="autor"]{
    margin-left: 62%;
    margin-top: -1.75%;
    font-size: 20px;
}

div[alt="indice"]{
    margin-left: 10%;
    background-color: palevioletred;
    margin-right: 67%;
}

ol{
    font-size: 30px;
    margin: 15px;
}

li{
    font-size: 20px;
    margin: 15px;
}

.peli{
    margin-left: 10%;
    width: 500px;
    margin-top: 5%;
}

.Ballister{
    margin-left: 20%;
    width: 1000px;
}

.directores{
    width: 500px;
}

.CEO{
    width: 500px;
}

div[alt="personas"]{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 18%;
}

.nimonalogo{
    margin-left: 43%;
}

footer{
    font-size: 15px;
}